<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResaManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ResaManager.My.MySettings>
            <setting name="DeviceData" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramChatID" serializeAs="String">
                <value />
            </setting>
            <setting name="UseTelegramPush" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SensorTryCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ConnectTryCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ConnectTimeout" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
        </ResaManager.My.MySettings>
    </userSettings>
</configuration>